
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Moview</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../../css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../../css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../../css/superfish.css">

	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- bs-wizard -->
	<link rel="stylesheet" href="../../css/bs-wizard.css">

	<link rel="stylesheet" href="../../css/custom.css">

	<!-- Modernizr JS -->
	<script src="../../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../../js/respond.min.js"></script>
	<![endif]-->


	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<% include ../menuHeader %>
		<!-- end:fh5co-header -->
		
		<div id="fh5co-contact" class="fh5co-lightgray-section topStageBar" >
			<div class="container">
				<div class="row"> 
						<div class="row bs-wizard" style="border-bottom:0;">
							<div class="col-xs-2 col-md-offset-1 bs-wizard-step complete">
								<div class="text-center bs-wizard-stepnum">Step 1</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Buy Tickets</div>
							</div>
							
							<div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
								<div class="text-center bs-wizard-stepnum">Step 2</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Select Seats</div>
							</div>
							
							<div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
								<div class="text-center bs-wizard-stepnum">Step 3</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Confirm Order</div>
							</div>
							
							<div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
								<div class="text-center bs-wizard-stepnum">Step 4</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Pay for Order</div>
							</div>

							<div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
								<div class="text-center bs-wizard-stepnum">Step 5</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Success</div>
							</div>
						</div>
				</div>
			</div>
		</div>

		<div id="fh5co-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>Confirm Order</h2>
						</div>
					</div>
				</div>
				<form action="#">
					<div class="row">
						<div class="col-md-2 animate-box movieSummary"></div>
						<div class="col-md-4 animate-box movieSummary">
							<img src="<%= movieBriefInfo.coverUrl %>">
							<div id="movieName"><%= movieBriefInfo.name %></div>
							<div><%= movieBriefInfo.cinema %></div>
							<div><%= movieBriefInfo.time %></div>
						</div>
						<div class="col-md-6 animate-box">
							<div id="tickets">
								<% for (ticket of tickets) { %>
									<div class="ticket">
										<div class="ticketUpperArea">
											<div class="movieName"><%= movieBriefInfo.name %></div>
											<div class="category"><%= ticket.ticketCategory %></div>
										</div>

										<div class="cinema">
											<%= movieBriefInfo.cinema %>
										</div>

										<div class="ticketBottomArea">
											<div class="date">
												<span>Date</span>
												<span><%= ticket.date %></span>
											</div>
		
											<div class="time">
												<span>Time</span>
												<span><%= ticket.time %></span>
											</div>
		
											<div class="seat">
												<span>Seat</span>
												<span><%= ticket.seat %></span>
											</div>
											
											<div class="price">
												<span>Price</span>
												<span><%= ticket.price %></span>
											</div>
										</div>
										
									</div>
								<% } %>
								<!-- <div class="ticket">
									<div class="ticketUpperArea">
										<div class="movieName">Deadpool 2</div>
										<div class="category">Senior</div>
									</div>

									<div class="cinema">
										Regal Hudson Valley Mall 12
									</div>

									<div class="ticketBottomArea">
										<div class="date">
											<span>Date</span>
											<span>Thu. May 17</span>
										</div>
	
										<div class="time">
											<span>Time</span>
											<span>7:00 PM</span>
										</div>
	
										<div class="seat">
											<span>Seat</span>
											<span>A15</span>
										</div>
										
										<div class="price">
											<span>Price</span>
											<span>$11.49</span>
										</div>
									</div>
									
								</div>
								<div class="ticket">
									<div class="ticketUpperArea">
										<div class="movieName">Deadpool 2</div>
										<div class="category">Child</div>
									</div>

									<div class="cinema">
										Regal Hudson Valley Mall 12
									</div>

									<div class="ticketBottomArea">
										<div class="date">
											<span>Date</span>
											<span>Thu. May 17</span>
										</div>
	
										<div class="time">
											<span>Time</span>
											<span>7:00 PM</span>
										</div>
	
										<div class="seat">
											<span>Seat</span>
											<span>A16</span>
										</div>
										
										<div class="price">
											<span>Price</span>
											<span>$9.99</span>
										</div>
									</div>
									
								</div> -->
							</div>
							<div id="subTotal">
								<div>Subtotal</div>
								<div><h2><%= subtotal %></h2></div>
							</div>
							<button type="button" class="btn btn-primary nextButton">Next</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END fh5co-contact -->

		<% include ../footer %>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->
	<script src="../../js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../../js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../../js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="../../js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="../../js/hoverIntent.js"></script>
	<script src="../../js/superfish.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="../../js/google_map.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="../../js/main.js"></script>

	</body>
</html>

